/* 878px */

@media screen and (max-width: 878px) {
   
    .card{
         width: calc(100% / 4 - (50px / 4))
    }

    .current-song-container{
        width: calc(100% / 3);
        justify-content: flex-start;  
        gap: 30px;      
    }

    .controls-container{
        width: calc(100% / 3);
    }

    .volume-container{
        width: calc(100% / 3);
        justify-content: center;
    }

    .current-song{
        justify-content: flex-start;
        gap: 5px;
        text-align: left;
    }

    .like-folder{
        gap: 10px;
    }
}


/* 639px */

@media screen and (max-width: 639px) {
    .card{
         width: calc(100% / 2 - (50px / 2))
    }

    .current-song-container{
        justify-content: flex-start;
        gap: 7px;
    }

    .like-folder{
        display: block;
    }

    .volume-container{
        gap: 10px;
    }
}

/* 552 */

@media screen and (max-width: 552px) {
    .logo{
        display: none;
    }

    .logo-small{
        display: block; 
        max-width: 100%;       
    }

    .playlist-list  span{
        display: none;
    }

    .create-playlist{
        display: none;
    }

    .main-container h3{
        display: none;
    }

    .cta-bottom{
        display: none;
    }

    .artist-bottom b{
        display: none;
    }

    .main-menu-container{
        width: 60px;
        
    }

    .main-menu-bottom > hr{
        display: none;
        align-items: center;
    }
}