*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */

.main-container{
    height: calc(100vh - 100px);
    display: flex;
}

.main-section{
    overflow: auto;
    width: 100%;
}

.main-menu-container{
    width: 150px;
}

footer{
    height: 100px;
    background-color: orange;
}