* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat"
}

/* GENERAL RULES */

.main-container {
    height: calc(100vh - 150px);
    display: flex;
}

.card-border {
    border-radius: 100px;
}

li {
    margin-top: 15px;
    font-weight: 600;
}

a {
    color: gray;
    text-decoration: none;
}

h3 {
    color: white;
    margin-top: 25px;
    padding-left: 20px;
}

h4 {
    color: white;
    margin-top: 10px;
}

/* TODO ICON ALIGN WITH TEXT */
.home-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('/imgs/home.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.search-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('/imgs/search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.library-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('/imgs/libreria.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.download-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('/imgs/download.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

.artist-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('/imgs/profile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: gray;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 5px;
}

.artist-bottom {
    color: white;
}

/* todo align icon */
.add-icon {
    background-color: gray;
    padding: 5px 10px;
    padding-right: 23px;
    margin-right: 10px;
}


/* MAIN */

.main-section {
    overflow: auto;
    width: 100%;
    background-color: #141922;

}

.cta-top {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    display: flex;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;

}

.cta-top>span {
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 35px;
    color: white;
    font-size: small;
}

.cta-top>span:hover {
    font-size: larger;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
}

a:hover {
    color: white
}

.pressed-li {
    position: relative;
    padding-bottom: 5px;
}

.pressed-li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 40px;
    border-bottom: 2px solid greenyellow;
}

.central-section {
    width: 90%;
    margin: 20px auto;
}

.central-section>h2 {
    color: white;
    margin-top: 20px;
}

.central-section>span {
    color: white;
}


.card-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



.card {
    width: calc(100% / 6 - (50px / 6))
}

.card img {
    max-width: 100%;
}

figure {
    text-align: center;
}

figcaption {
    margin-top: 10px;
    color: #7d7f84;
    font-weight: 700;
    font-size: small;
}





/* MENU LEFT */

.main-menu-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.img-container {
    width: 80%;
}

.logo {
    padding: 15px;
}

.logo-small {
    display: none;
    padding: 15px;
}

.playlist-list {
    list-style: none;
    margin-top: 10px;
    padding-left: 20px;
}

.main-menu-bottom {
    margin-top: auto;
    padding: 10px;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* FOOTER */

footer {
    height: 150px;
    background-color: #282828;
}

.footer-container {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.current-song-container {
    width: calc(100% / 5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-song {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.current-song>img {
    height: 60%;
    width: auto;
    max-width: 60%;
    padding-left: 20px;
    margin-top: 40px;
    object-fit: contain;
    display: block;
}


.current-song>figcaption {
    margin-top: 30px;
}

.like-folder {
    color: #7d7f84;
    margin-top: 40px;
    width: calc(100% / 6);
    display: flex;
    justify-content: space-between;
}

.fa-heart:hover {
    color: white;
}

.fa-folder:hover {
    color: white;
}

.controls-container {
    width: calc(100% / 3);
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 15px;
}

.play-icon {
    transition: transform 0.2s, filter 0.2s;
    display: inline-block;

}

.play-icon:hover {
    transform: scale(2);
}

.audio-progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    gap: 10px;
    width: 100%;
}


.time {
    color: #fff;
    font-size: 0.85rem;
    font-family: sans-serif;
    min-width: 35px;
    text-align: center;
}

.slider-container {
    position: relative;
    flex: 1;
    height: 4px;
    background: #555;
    border-radius: 2px;
}

.gray-slider {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    background-color: #7d7f84;
    border-radius: 2px;
}

.hover-slider {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    height: 100%;
    background-color: greenyellow;
    border-radius: 2px;
    display: none;
}

.slider-container:hover .hover-slider {
    display: block;
}

.circle-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
}

.volume-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: calc(100% / 5);
    justify-content: flex-end;
    gap: 20px;
}

.volume-container .slider-container {
    flex: 0.5;
    margin-right: 15px;
}

.volume-container>a {
    color: white;
}