* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat"
}

/* GENERAL RULES */

.main-container {
    height: calc(100vh - 100px);
    display: flex;
}

li {
    margin-top: 15px;
}

a {
    color: gray;
    text-decoration: none;
}

h3 {
    color: white;
    margin-top: 25px;
    padding-left: 20px;
}

h4 {
    color: white;
    margin-top: 10px;
}

/* TODO ICON ALIGN WITH TEXT */
.home-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('/imgs/home.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.search-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('/imgs/search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.library-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('/imgs/libreria.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.download-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('/imgs/download.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

.artist-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('/imgs/profile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: gray;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 5px;
}

/* todo align icon */
.add-icon {
    background-color: gray;
    padding: 5px 10px;
    padding-right: 23px;
    margin-right: 10px;
}


/* MAIN */

.main-section {
    overflow: auto;
    width: 100%;
    background-color: lightcoral;

}

.cta-top {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;

}

.nav-list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.central-section{
    width: 90%;
    margin: 20px auto;
}

.central-section > h2{
    margin-top: 20px;
}


.card-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



.card{
    width: calc(100% / 6 - (50px / 6))
}

.card img{
    max-width: 100%;
}

figure{
    text-align: center;
}

figcaption{
    margin-top: 10px;
}





/* MENU LEFT */

.main-menu-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.img-container {
    width: 80%;
}

.logo {
    padding: 15px;
}

.playlist-list {
    list-style: none;
    margin-top: 10px;
    padding-left: 20px;
}

.main-menu-bottom {
    margin-top: auto;
    padding: 10px;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}








/* FOOTER */

footer {
    height: 100px;
    background-color: orange;
}