*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */

.main-container{
    height: calc(100vh - 100px);
    display: flex;
}

/* MAIN */

.main-section{
    overflow: auto;
    width: 100%;
    
}

.cta-top{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    display: flex;
    justify-content: flex-end; 
    position: sticky;
    top: 0;

}

/* MENU */

.main-menu-container{
    width: 300px;
    display: block;
    background-color: aqua;
}

.img-container{
    width: 80%;    
}

.logo{
    padding: 15px;
}



/* FOOTER */

footer{
    height: 100px;
    background-color: orange;
}