*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL RULES */

.main-container{
    height: calc(100vh - 100px);
    display: flex;
}

.main-section{
    overflow: auto;
    width: 100%;
    
}

.cta-top{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    display: flex;
    justify-content: flex-end; 
    position: sticky;
    top: 0;

}

.main-menu-container{
    width: 150px;
}

footer{
    height: 100px;
    background-color: orange;
}